In [19]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import numpy as np
import pandas as pd

series = pd.Series([11,25,33,44,np.nan,65,75])
print(series)

0    11.0
1    25.0
2    33.0
3    44.0
4     NaN
5    65.0
6    75.0
dtype: float64

In [1]:
import pandas as pd

a = [11, 27, 88]
myvar = pd.Series(a)
print(myvar)

0    11
1    27
2    88
dtype: int64

In [3]:
import pandas as pd
import numpy as np

array=['a', 'b', 'c', 'd', 'e']
data = np.array(array)

ser = pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
import pandas as pd
import numpy as np

data = { 'UK':'United Kingdom','FR':'France' }
s = pd.Series(data)
print(s)

UK    United Kingdom
FR            France
dtype: object

In [16]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.random(size=10))
print(ser)

0    0.263841
1    0.185424
2    0.730433
3    0.638183
4    0.609210
5    0.721744
6    0.425250
7    0.321139
8    0.975072
9    0.528756
dtype: float64

In [63]:
import pandas as pd
import numpy as np

ser = pd.Series(np.random.randint(15, size=5))
print(ser)

0     4
1     0
2    13
3     2
4    12
dtype: int32

In [65]:
import pandas as pd

ser = pd.Series(['a','b','c','d','e'])
print(ser)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [67]:
import pandas as pd

ser = pd.Series("Hello My name is Shyam.")
print(ser)

0    Hello My name is Shyam.
dtype: object

In [68]:
import pandas as pd

ser = pd.Series(["My","Name","is","Shyam"])
print(ser)

0       My
1     Name
2       is
3    Shyam
dtype: object

In [69]:
import pandas as pd

ser = pd.Series(['a','b','c','d','e'], index=[10,20,30,40,50])
print(ser)

10    a
20    b
30    c
40    d
50    e
dtype: object

In [83]:
import pandas as pd

s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [73]:
import pandas as pd

s = pd.Series(data=[31,28,30,31,30],index = ['Jan','Feb','Mar','Apr','May'])
print(s)

Jan    31
Feb    28
Mar    30
Apr    31
May    30
dtype: int64

In [28]:
import pandas as pd

s = pd.Series([1, 2, 3, 4])
print(s)
result = s.repeat(repeats = 2)
print(result)

0    1
1    2
2    3
3    4
dtype: int64
0    1
0    1
1    2
1    2
2    3
2    3
3    4
3    4
dtype: int64

In [7]:
import pandas as pd

a=[11,22,33,44]
s = pd.Series(data=a*2)
print(s)

0    11
1    22
2    33
3    44
4    11
5    22
6    33
7    44
dtype: int64

In [77]:
import pandas as pd
import numpy as np

a=np.arange(10,20)
s = pd.Series(index=a,data=a*2)
print(s)

10    20
11    22
12    24
13    26
14    28
15    30
16    32
17    34
18    36
19    38
dtype: int32

In [79]:
import pandas as pd
import numpy as np

a=np.arange(10,20)
s = pd.Series(index=a,data=a**2)
print(s)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
dtype: int32

In [82]:
import pandas as pd
import numpy as np

a=np.arange(10,15)
s = pd.Series(data=a*2,index=['a','b','a','a','b'])
print(s)
print(s['a'])

a    20
b    22
a    24
a    26
b    28
dtype: int32
a    20
a    24
a    26
dtype: int32

In [30]:
import pandas as pd
import numpy as np

s = pd.Series(20,index=range(0,5))
print(s)

0    20
1    20
2    20
3    20
4    20
dtype: int64

In [32]:
import pandas as pd
import numpy as np

s = pd.Series(20,index=range(1,10,2))
print(s)

1    20
3    20
5    20
7    20
9    20
dtype: int64

In [33]:
import pandas as pd
import numpy as np

s = pd.Series("Dil to Pagal Hai",index=range(1,10,2))
print(s)

1    Dil to Pagal Hai
3    Dil to Pagal Hai
5    Dil to Pagal Hai
7    Dil to Pagal Hai
9    Dil to Pagal Hai
dtype: object

In [34]:
import pandas as pd
import numpy as np

s = pd.Series("Dil to Pagal Hai",index=[0,2,3])
print(s)

0    Dil to Pagal Hai
2    Dil to Pagal Hai
3    Dil to Pagal Hai
dtype: object

In [35]:
import pandas as pd
import numpy as np

s = pd.Series([6.5,np.NaN,22,33])
print(s)

0     6.5
1     NaN
2    22.0
3    33.0
dtype: float64

In [36]:
import pandas as pd
import numpy as np

s = pd.Series([12,42,53])
print(s)

0    12
1    42
2    53
dtype: int64

In [37]:
import pandas as pd
import numpy as np

s = pd.Series([12.8,42.5,53.5])
print(s)

0    12.8
1    42.5
2    53.5
dtype: float64

In [38]:
import pandas as pd
import numpy as np

s = pd.Series([12,42.5,53.5])
print(s)

0    12.0
1    42.5
2    53.5
dtype: float64

In [39]:
import pandas as pd
import numpy as np

s = pd.Series([12,42.5,53.5,"ram"])
print(s)

0      12
1    42.5
2    53.5
3     ram
dtype: object

In [40]:
import pandas as pd

ser = pd.Series(['a','b','c','d','e'], index=[10,20,30,40,50])
print(ser[10])
print(ser[50])

a
e

In [41]:
import pandas as pd

ser = pd.Series(np.random.randint(15, size=5))
print(ser.to_list())

[7, 6, 11, 13, 13]

In [1]:
import pandas as pd

ser1 = pd.Series([1,2,3,4,5])
print(ser1)

ser2 = pd.Series([1,2,3,4,5], dtype='float')
print(ser2)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [2]:
import pandas as pd

ser = pd.Series([1,2,3,4,5])
print(len(ser))

5

In [4]:
import pandas as pd

ser = pd.Series(['a','a','a','b','b','c','d','e','e'])
print(ser.unique())
print(ser.nunique())

['a' 'b' 'c' 'd' 'e']
5

In [39]:
import pandas as pd
import numpy as np

myarr=np.arange(1,11)
ser = pd.Series(myarr)
print(ser)

print(ser.nlargest(n=1))
print(ser.nsmallest(n=1))

print(ser.nlargest(n=3))
print(ser.nsmallest(n=3))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32
9    10
dtype: int32
0    1
dtype: int32
9    10
8     9
7     8
dtype: int32
0    1
1    2
2    3
dtype: int32

In [8]:
import pandas as pd

ser = pd.Series(['daksh','ram','shyam','vedika','karna','daksh','daksh'])
ser.value_counts()

daksh     3
ram       1
shyam     1
vedika    1
karna     1
dtype: int64

In [43]:
import pandas as pd

ser = pd.Series([1, 2, 3, 4,5,6,7,8,9,10,11])
print(ser.ne(5))

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8      True
9      True
10     True
dtype: bool

In [10]:
import pandas as pd

ser = pd.Series([12, 34, 45, 50, 24])
print(ser.mean())

33.0

In [11]:
import pandas as pd
ser = pd.Series([12, 34, 45, 50, 24])
print(ser.median())

34.0

In [12]:
import pandas as pd

ser = pd.Series([12, 34, 45, 50, 24])
print(ser.index)
print(ser.values)

RangeIndex(start=0, stop=5, step=1)
[12 34 45 50 24]

In [13]:
import pandas as pd
ser = pd.Series([12, 34, 45, 50, 24])
print(ser.index)
print(ser.values)
print(ser)
ser.index.name="NewIndex"
print(ser)

RangeIndex(start=0, stop=5, step=1)
[12 34 45 50 24]
0    12
1    34
2    45
3    50
4    24
dtype: int64
NewIndex
0    12
1    34
2    45
3    50
4    24
dtype: int64

In [14]:
import pandas as pd

ser = pd.Series([12, 34, 45, 50, 24])
print(ser)
ser.name="My New Name"
print(ser)

0    12
1    34
2    45
3    50
4    24
dtype: int64
0    12
1    34
2    45
3    50
4    24
Name: My New Name, dtype: int64

In [38]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])
ser2 = pd.Series()

print(ser1.empty)
print(ser2.empty)

False
True

In [37]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])
ser2 = pd.Series()

print(ser1.count())
print(ser2.count())

5
0

In [35]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])
ser2 = pd.Series()

print(len(ser1))
print(len(ser2))

5
0

In [36]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])
ser2 = pd.Series()

print(ser1.nbytes)
print(ser2.nbytes)

40
0

In [22]:
import pandas as pd

ser = pd.Series([12, 34, 45, 50, 24])
print(ser.dtype)

int64

In [23]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])

ser1[0] = 2200
print(ser1)

ser1[0:3] = 1200
print(ser1)

0    2200
1      34
2      45
3      50
4      24
dtype: int64
0    1200
1    1200
2    1200
3      50
4      24
dtype: int64

In [25]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24])
print(ser1)
ser1.index=['a','b','s','r','c']
print(ser1)

0    12
1    34
2    45
3    50
4    24
dtype: int64
a    12
b    34
s    45
r    50
c    24
dtype: int64

In [26]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24 ,55, 100, 22])
print(ser1.head())

0    12
1    34
2    45
3    50
4    24
dtype: int64

In [27]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24 ,55, 100, 22])
print(ser1.head(3))

0    12
1    34
2    45
dtype: int64

In [28]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24 ,55, 100, 22])
print(ser1.tail())

3     50
4     24
5     55
6    100
7     22
dtype: int64

In [29]:
import pandas as pd

ser1 = pd.Series([12, 34, 45, 50, 24 ,55, 100, 22])
print(ser1.tail(3))

5     55
6    100
7     22
dtype: int64

In [30]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
print(ser1)
print("\n")
print(ser1+2)

0    12
1    34
2    45
dtype: int64


0    14
1    36
2    47
dtype: int64

In [31]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
print(ser1)
print("\n")
print(ser1*2)

0    12
1    34
2    45
dtype: int64


0    24
1    68
2    90
dtype: int64

In [32]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
print(ser1)
print("\n")
print(ser1**2)

0    12
1    34
2    45
dtype: int64


0     144
1    1156
2    2025
dtype: int64

In [33]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
print(ser1)
print("\n")
print(ser1>30)

0    12
1    34
2    45
dtype: int64


0    False
1     True
2     True
dtype: bool

In [34]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
ser2 = pd.Series([2, 4, 5])

print(ser1+ser2)
print(ser1-ser2)
print(ser1*ser2)
print(ser1/ser2)

0    14
1    38
2    50
dtype: int64
0    10
1    30
2    40
dtype: int64
0     24
1    136
2    225
dtype: int64
0    6.0
1    8.5
2    9.0
dtype: float64

In [35]:
import pandas as pd

ser1 = pd.Series([12, 34, 45])
ser2 = pd.Series([2, 4, 5])
print(ser1+ser2)

0    14
1    38
2    50
dtype: int64

In [39]:
import pandas as pd

ser1 = pd.Series([12, 4, 5,20,35])
print(ser1)
print(ser1.sort_values())
print(ser1.sort_values(ascending=False))

0    12
1     4
2     5
3    20
4    35
dtype: int64
1     4
2     5
0    12
3    20
4    35
dtype: int64
4    35
3    20
0    12
2     5
1     4
dtype: int64

In [3]:
import pandas as pd

ser1 = pd.Series([12, 4, 5,20,35],index=['b','d','a','c','e'])
print(ser1,"\n")
print(ser1.sort_index(),"\n")
print(ser1.sort_index(ascending=False))

b    12
d     4
a     5
c    20
e    35
dtype: int64

a     5
b    12
c    20
d     4
e    35
dtype: int64

e    35
d     4
c    20
b    12
a     5
dtype: int64

In [41]:
import pandas as pd

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [42]:
import pandas as pd

data = [1,2,3]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3

In [44]:
import pandas as pd

data = [['Alexa',10],['Vihaan',12],['Rani',13],['Vedika',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0   Alexa   10
1  Vihaan   12
2    Rani   13
3  Vedika   13

In [45]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data)
print(purchases)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [47]:
data = {
    'Apples': [3, 2, 0, 1], 
    'Oranges': [0, 3, 7, 2]
}
purchases = pd.DataFrame(data, index=['Rahul', 'Anjali', 'Raj', 'Simran'])
print(purchases)

        Apples  Oranges
Rahul        3        0
Anjali       2        3
Raj          0        7
Simran       1        2

In [4]:
import pandas as pd

data = {
    'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
    'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['Rank1','Rank2','Rank3','Rank4'])
print(df)

        Name  Age
Rank1    Tom   28
Rank2   Jack   34
Rank3  Steve   29
Rank4  Ricky   42

In [50]:
import pandas as pd
import numpy as np

data = {
    'Students':['Ram','Neha','Mansi'],
    'Marks':[22,33,44],
    'Sport':['Cricket','Football','Athelatics']}
df1 = pd.DataFrame(data)
print(df1)

  Students  Marks      Sport
0      Ram     22    Cricket
1     Neha     33   Football
2    Mansi     44  Athelaics

In [5]:
import pandas as pd
import numpy as np

data = {
    'Students':['Ram','Neha','Mansi'],
    'Marks':[22,33,44],
    'Sport':['Cricket','Football','Athelatics']}
df1 = pd.DataFrame(data,index=['I','II','III'])
print(df1)

    Students  Marks       Sport
I        Ram     22     Cricket
II      Neha     33    Football
III    Mansi     44  Athelatics

In [6]:
import pandas as pd
import numpy as np

data = {
    'State':['Gujarat','Maharstra','Rajasthan'],
    'Rainfall':[12333,14999,10000]}
df1 = pd.DataFrame(data,index=['I','II','III'])
print(df1)

         State  Rainfall
I      Gujarat     12333
II   Maharstra     14999
III  Rajasthan     10000

In [8]:
import pandas as pd
import numpy as np

Ranker1={'No':12, 'Name':'Ram', 'Marks':99}
Ranker2={'No':2, 'Name':'Raj', 'Marks':97}
Ranker3={'No':32, 'Name':'Nisha', 'Marks':95}
Ranker4={'No':40, 'Name':'Ravi', 'Marks':94}

rankers=[Ranker1, Ranker2, Ranker3, Ranker4]
df1 = pd.DataFrame(rankers,index=['I','II','III','IIII'])
print(df1)

      No   Name  Marks
I     12    Ram     99
II     2    Raj     97
III   32  Nisha     95
IIII  40   Ravi     94

In [11]:
import pandas as pd
import numpy as np

south={'Chalan':50,'Amount':25000}
north={'Chalan':70,'Amount':75000}
east={'Chalan':100,'Amount':50000}
west={'Chalan':10,'Amount':5000}

totalchalan=[south,north,east,west]
df1 = pd.DataFrame(totalchalan,index=['South','North','East','West'])
print(df1)

       Chalan  Amount
South      50   25000
North      70   75000
East      100   50000
West       10    5000

In [62]:
import pandas as pd
import numpy as np

targetofsales=[12000,13000,14000,15000]
actualsales=[12500,11000,16000,15000]

sales=[targetofsales,actualsales]
df1 = pd.DataFrame(sales,index=['Target','Sales'],columns=['Ahmedabad','Rajkot','Surat','Baroda'])

print(df1)

        Ahmedabad  Rajkot  Surat  Baroda
Target      12000   13000  14000   15000
Sales       12500   11000  16000   15000

In [65]:
import numpy as np
import pandas as pd

d = {'Surat': pd.Series([2., 3., 4.], index=['2000', '2001', '2002']),
     'Mumbai': pd.Series([2., 3., 4., 5.], index=['2000', '2001', '2002', '2003'])}

df = pd.DataFrame(d, index=['2000', '2001'])
print(df)

      Surat  Mumbai
2000    2.0     2.0
2001    3.0     3.0

In [70]:
import pandas as pd

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['First', 'Second'], columns=['a', 'b'])
print(df1)

        a   b
first   1   2
second  5  10

In [73]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [76]:
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df['three']=pd.Series([10,20,30],index=['a','b','c'])

print(df)
df['four']=df['one']+df['three']
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [79]:
my_dict = { 
'Name' : ["OmKar", "Bijav", "Dhiren", "Pranali", "Keval"],
'Age' : [10,20, 30, 40, 50],
'Designation': ["CEO", "VP", "SVP", "AM", "DEV"]
}
df = pd.DataFrame( my_dict, 
index = [
"First -> ",
"Second -> ", 
"Third -> ", 
"Fourth -> ", 
"Fifth -> "])
print(df)

               Name  Age Designation
First ->      OmKar   10         CEO
Second ->     Bijav   20          VP
Third ->     Dhiren   30         SVP
Fourth ->   Pranali   40          AM
Fifth ->      Keval   50         DEV

In [82]:
import pandas as pd
import numpy as np

arr1=np.array([[10,20],[20,50],[30,40],[20,30]])
df= pd.DataFrame(arr1)
print(df)

    0   1
0  10  20
1  20  50
2  30  40
3  20  30

In [85]:
import pandas as pd
import numpy as np

staff=pd.Series([20,30,50])
salaries=pd.Series([40000,30000,25000])
avg=salaries/staff
org={'ppl':staff,'amount':salaries,'avg':avg}
df=pd.DataFrame(org)
print(df)

   ppl  amount     avg
0   20   40000  2000.0
1   30   30000  1000.0
2   50   25000   500.0

In [87]:
import pandas as pd
import numpy as np
staff=pd.Series([20,30,50])
salaries=pd.Series([40000,30000,25000])
avg=salaries/staff
org={'ppl':staff,'amount':salaries,'avg':avg}
df=pd.DataFrame(org)
print(df)

print(df.index)
print(df.columns)
print(df.axes)
print(df.dtypes)
print(df.size)
print(df.shape)
print(df.ndim)
print(df.empty)

   ppl  amount     avg
0   20   40000  2000.0
1   30   30000  1000.0
2   50   25000   500.0
RangeIndex(start=0, stop=3, step=1)
Index(['ppl', 'amount', 'avg'], dtype='object')
[RangeIndex(start=0, stop=3, step=1), Index(['ppl', 'amount', 'avg'], dtype='object')]
ppl         int64
amount      int64
avg       float64
dtype: object
9
(3, 3)
2
False

In [88]:
import pandas as pd
import numpy as np
staff=pd.Series([20,30,50])
salaries=pd.Series([40000,30000,25000])
avg=salaries/staff
org={'ppl':staff,'amount':salaries,'avg':avg}
df=pd.DataFrame(org)
print(df)
print("Now Transpose")
print(df.T)

   ppl  amount     avg
0   20   40000  2000.0
1   30   30000  1000.0
2   50   25000   500.0
Now Transpose
              0        1        2
ppl        20.0     30.0     50.0
amount  40000.0  30000.0  25000.0
avg      2000.0   1000.0    500.0

In [1]:
import pandas as pd
import numpy as np

ar=np.array([[20000,30000,50000],[420,310,250],[121,200,300]])
df=pd.DataFrame(ar,columns=['ppl','hospital','schools'],index=['delhi','mumbai','surat'])
print(df)
print("Only ppl")
print(df.ppl)

print("Only hospital")
print(df.hospital)

print("hospital schools")
print(df[["schools","hospital"]])

          ppl  hospital  schools
delhi   20000     30000    50000
mumbai    420       310      250
surat     121       200      300
Only ppl
delhi     20000
mumbai      420
surat       121
Name: ppl, dtype: int32
Only hospital
delhi     30000
mumbai      310
surat       200
Name: hospital, dtype: int32
hospital schools
        schools  hospital
delhi     50000     30000
mumbai      250       310
surat       300       200

In [4]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
print(titanic_data)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Gender   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [5]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.tail()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [10]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.shape

(891, 12)

In [11]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [12]:
import pandas as pd
col_names = ['Id',
             'Survived',
             'Passenger Class',
             'Full Name',
             'Gender',
             'Age',
             'SibSp',
             'Parch',
             'Ticket Number',
             'Price', 'Cabin',
             'Station']
titanic_data = pd.read_csv('titanic.csv',names=col_names)
titanic_data.describe()

,Id,Survived,Passenger Class,Full Name,Gender,Age,SibSp,Parch,Ticket Number,Price,Cabin,Station
count,892,892,892,892,892,715,892,892,892,892,205,890
unique,892,3,4,892,3,89,8,8,682,249,148,4
top,PassengerId,0,3,Name,male,24,0,0,1601,8.05,C23 C25 C27,S
freq,1,549,491,1,577,30,608,678,7,43,4,644

In [13]:
import pandas as pd
col_names = ['Id',
             'Survived',
             'Passenger Class',
             'Full Name',
             'Gender',
             'Age',
             'SibSp',
             'Parch',
             'Ticket Number',
             'Price', 'Cabin',
             'Station']
titanic_data = pd.read_csv('titanic.csv',names=col_names)
titanic_data.head(10)

,Id,Survived,Passenger Class,Full Name,Gender,Age,SibSp,Parch,Ticket Number,Price,Cabin,Station
0,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
5,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,NaN,S
6,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,NaN,S
9,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S

In [14]:
import pandas as pd
col_names = ['Id',
             'Survived',
             'Passenger Class',
             'Full Name',
             'Gender',
             'Age',
             'SibSp',
             'Parch',
             'Ticket Number',
             'Price', 'Cabin',
             'Station']
titanic_data = pd.read_csv('titanic.csv', names=col_names, skiprows = [0, 4, 7])
titanic_data.head(10)

,Id,Survived,Passenger Class,Full Name,Gender,Age,SibSp,Parch,Ticket Number,Price,Cabin,Station
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
4,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
5,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
6,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
7,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
8,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
9,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [16]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv',usecols=['Name','Age'])
titanic_data

                                                  Name    Age
0                              Braund, Mr. Owen Harris  22.00
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.00
2                               Heikkinen, Miss. Laina  26.00
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.00
4                             Allen, Mr. William Henry  35.00
5                                     Moran, Mr. James    NaN
6                              McCarthy, Mr. Timothy J  54.00
7                       Palsson, Master. Gosta Leonard   2.00
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.00
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.00
10                     Sandstrom, Miss. Marguerite Rut   4.00
11                            Bonnell, Miss. Elizabeth  58.00
12                      Saundercock, Mr. William Henry  20.00
13                         Andersson, Mr. Anders Johan  39.00
14                Vestrom, Miss. Hulda Amanda Adolfina  14.00
15                    Hewlett, Mrs. (Mary D Kingcome)   55.00
16                                Rice, Master. Eugene   2.00
17                        Williams, Mr. Charles Eugene    NaN
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.00
19                             Masselmani, Mrs. Fatima    NaN
20                                Fynney, Mr. Joseph J  35.00
21                               Beesley, Mr. Lawrence  34.00
22                         McGowan, Miss. Anna "Annie"  15.00
23                        Sloper, Mr. William Thompson  28.00
24                       Palsson, Miss. Torborg Danira   8.00
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  38.00
26                             Emir, Mr. Farred Chehab    NaN
27                      Fortune, Mr. Charles Alexander  19.00
28                       O'Dwyer, Miss. Ellen "Nellie"    NaN
29                                 Todoroff, Mr. Lalio    NaN
30                            Uruchurtu, Don. Manuel E  40.00
31      Spencer, Mrs. William Augustus (Marie Eugenie)    NaN
32                            Glynn, Miss. Mary Agatha    NaN
33                               Wheadon, Mr. Edward H  66.00
34                             Meyer, Mr. Edgar Joseph  28.00
35                      Holverson, Mr. Alexander Oskar  42.00
36                                    Mamee, Mr. Hanna    NaN
37                            Cann, Mr. Ernest Charles  21.00
38                  Vander Planke, Miss. Augusta Maria  18.00
39                         Nicola-Yarred, Miss. Jamila  14.00
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  40.00
41   Turpin, Mrs. William John Robert (Dorothy Ann ...  27.00
42                                 Kraeff, Mr. Theodor    NaN
43            Laroche, Miss. Simonne Marie Anne Andree   3.00
44                       Devaney, Miss. Margaret Delia  19.00
45                            Rogers, Mr. William John    NaN
46                                   Lennon, Mr. Denis    NaN
47                           O'Driscoll, Miss. Bridget    NaN
48                                 Samaan, Mr. Youssef    NaN
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  18.00
50                          Panula, Master. Juha Niilo   7.00
51                        Nosworthy, Mr. Richard Cater  21.00
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.00
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...  29.00
54                      Ostby, Mr. Engelhart Cornelius  65.00
55                                   Woolner, Mr. Hugh    NaN
56                                   Rugg, Miss. Emily  21.00
57                                 Novel, Mr. Mansouer  28.50
58                        West, Miss. Constance Mirium   5.00
59                  Goodwin, Master. William Frederick  11.00
60                               Sirayanian, Mr. Orsen  22.00
61                                 Icard, Miss. Amelie  38.00
62                         Harris, Mr. Henry Birkhardt  45.00
63                               Skoog, Master. Harald   4.00
64                               Stewart, Mr. Albert A    NaN
65                            Moubarek, Master. Gerios    NaN
66                        Nye, Mrs. (Elizabeth Ramell)  29.00
67                            Crease, Mr. Ernest James  19.00
68                     Andersson, Miss. Erna Alexandra  17.00
69                                   Kink, Mr. Vincenz  26.00
70                          Jenkin, Mr. Stephen Curnow  32.00
71                          Goodwin, Miss. Lillian Amy  16.00
72                                Hood, Mr. Ambrose Jr  21.00
73                         Chronopoulos, Mr. Apostolos  26.00
74                                       Bing, Mr. Lee  32.00
75                             Moen, Mr. Sigurd Hansen  25.00
76                                   Staneff, Mr. Ivan    NaN
77                            Moutal, Mr. Rahamin Haim    NaN
78                       Caldwell, Master. Alden Gates   0.83
79                            Dowdell, Miss. Elizabeth  30.00
80                                Waelens, Mr. Achille  22.00
81                         Sheerlinck, Mr. Jan Baptist  29.00
82                      McDermott, Miss. Brigdet Delia    NaN
83                             Carrau, Mr. Francisco M  28.00
84                                 Ilett, Miss. Bertha  17.00
85   Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...  33.00
86                              Ford, Mr. William Neal  16.00
87                       Slocovski, Mr. Selman Francis    NaN
88                          Fortune, Miss. Mabel Helen  23.00
89                              Celotti, Mr. Francesco  24.00
90                                Christmann, Mr. Emil  29.00
91                          Andreasson, Mr. Paul Edvin  20.00
92                         Chaffee, Mr. Herbert Fuller  46.00
93                             Dean, Mr. Bertram Frank  26.00
94                                   Coxon, Mr. Daniel  59.00
95                         Shorney, Mr. Charles Joseph    NaN
96                           Goldschmidt, Mr. George B  71.00
97                     Greenfield, Mr. William Bertram  23.00
98                Doling, Mrs. John T (Ada Julia Bone)  34.00
99                                   Kantor, Mr. Sinai  34.00
100                            Petranec, Miss. Matilda  28.00
101                   Petroff, Mr. Pastcho ("Pentcho")    NaN
102                          White, Mr. Richard Frasar  21.00
103                         Johansson, Mr. Gustaf Joel  33.00
104                     Gustafsson, Mr. Anders Vilhelm  37.00
105                              Mionoff, Mr. Stoytcho  28.00
106                   Salkjelsvik, Miss. Anna Kristine  21.00
107                             Moss, Mr. Albert Johan    NaN
108                                    Rekic, Mr. Tido  38.00
109                                Moran, Miss. Bertha    NaN
110                     Porter, Mr. Walter Chamberlain  47.00
111                               Zabour, Miss. Hileni  14.50
112                             Barton, Mr. David John  22.00
113                            Jussila, Miss. Katriina  20.00
114                              Attalah, Miss. Malake  17.00
115                              Pekoniemi, Mr. Edvard  21.00
116                               Connors, Mr. Patrick  70.50
117                    Turpin, Mr. William John Robert  29.00
118                           Baxter, Mr. Quigg Edmond  24.00
119                  Andersson, Miss. Ellis Anna Maria   2.00
120                        Hickman, Mr. Stanley George  21.00
121                         Moore, Mr. Leonard Charles    NaN
122                               Nasser, Mr. Nicholas  32.50
123                                Webber, Miss. Susan  32.50
124                        White, Mr. Percival Wayland  54.00
125                       Nicola-Yarred, Master. Elias  12.00
126                                McMahon, Mr. Martin    NaN
127                          Madsen, Mr. Fridtjof Arne  24.00
128                                  Peter, Miss. Anna    NaN
129                                 Ekstrom, Mr. Johan  45.00
130                               Drazenoic, Mr. Jozef  33.00
131                     Coelho, Mr. Domingos Fernandeo  20.00
132     Robins, Mrs. Alexander A (Grace Charity Laury)  47.00
133      Weisz, Mrs. Leopold (Mathilde Francoise Pede)  29.00
134                     Sobey, Mr. Samuel James Hayden  25.00
135                                 Richard, Mr. Emile  23.00
136                       Newsom, Miss. Helen Monypeny  19.00
137                        Futrelle, Mr. Jacques Heath  37.00
138                                Osen, Mr. Olaf Elon  16.00
139                                 Giglio, Mr. Victor  24.00
140                      Boulos, Mrs. Joseph (Sultana)    NaN
141                           Nysten, Miss. Anna Sofia  22.00
142  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...  24.00
143                                Burke, Mr. Jeremiah  19.00
144                         Andrew, Mr. Edgardo Samuel  18.00
145                       Nicholls, Mr. Joseph Charles  19.00
146       Andersson, Mr. August Edvard ("Wennerstrom")  27.00
147                   Ford, Miss. Robina Maggie "Ruby"   9.00
148           Navratil, Mr. Michel ("Louis M Hoffman")  36.50
149                  Byles, Rev. Thomas Roussel Davids  42.00
150                         Bateman, Rev. Robert James  51.00
151                  Pears, Mrs. Thomas (Edith Wearne)  22.00
152                                   Meo, Mr. Alfonzo  55.50
153                    van Billiard, Mr. Austin Blyler  40.50
154                              Olsen, Mr. Ole Martin    NaN
155                        Williams, Mr. Charles Duane  51.00
156                   Gilnagh, Miss. Katherine "Katie"  16.00
157                                    Corn, Mr. Harry  30.00
158                                Smiljanic, Mr. Mile    NaN
159                         Sage, Master. Thomas Henry    NaN
160                           Cribb, Mr. John Hatfield  44.00
161  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...  40.00
162                         Bengtsson, Mr. John Viktor  26.00
163                                    Calic, Mr. Jovo  17.00
164                       Panula, Master. Eino Viljami   1.00
165    Goldsmith, Master. Frank John William "Frankie"   9.00
166             Chibnall, Mrs. (Edith Martha Bowerman)    NaN
167    Skoog, Mrs. William (Anna Bernhardina Karlsson)  45.00
168                                Baumann, Mr. John D    NaN
169                                      Ling, Mr. Lee  28.00
170                          Van der hoef, Mr. Wyckoff  61.00
171                               Rice, Master. Arthur   4.00
172                       Johnson, Miss. Eleanor Ileen   1.00
173                          Sivola, Mr. Antti Wilhelm  21.00
174                            Smith, Mr. James Clinch  56.00
175                             Klasen, Mr. Klas Albin  18.00
176                      Lefebre, Master. Henry Forbes    NaN
177                         Isham, Miss. Ann Elizabeth  50.00
178                                 Hale, Mr. Reginald  30.00
179                                Leonard, Mr. Lionel  36.00
180                       Sage, Miss. Constance Gladys    NaN
181                                   Pernot, Mr. Rene    NaN
182              Asplund, Master. Clarence Gustaf Hugo   9.00
183                          Becker, Master. Richard F   1.00
184                Kink-Heilmann, Miss. Luise Gretchen   4.00
185                              Rood, Mr. Hugh Roscoe    NaN
186    O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)    NaN
187      Romaine, Mr. Charles Hallace ("Mr C Rolmane")  45.00
188                                   Bourke, Mr. John  40.00
189                                Turcin, Mr. Stjepan  36.00
190                                Pinsky, Mrs. (Rosa)  32.00
191                              Carbines, Mr. William  19.00
192    Andersen-Jensen, Miss. Carla Christine Nielsine  19.00
193                         Navratil, Master. Michel M   3.00
194          Brown, Mrs. James Joseph (Margaret Tobin)  44.00
195                               Lurette, Miss. Elise  58.00
196                                Mernagh, Mr. Robert    NaN
197                   Olsen, Mr. Karl Siegwart Andreas  42.00
198                   Madigan, Miss. Margaret "Maggie"    NaN
199             Yrois, Miss. Henriette ("Mrs Harbeck")  24.00
200                     Vande Walle, Mr. Nestor Cyriel  28.00
201                                Sage, Mr. Frederick    NaN
202                         Johanson, Mr. Jakob Alfred  34.00
203                               Youseff, Mr. Gerious  45.50
204                           Cohen, Mr. Gurshon "Gus"  18.00
205                         Strom, Miss. Telma Matilda   2.00
206                         Backstrom, Mr. Karl Alfred  32.00
207                        Albimona, Mr. Nassef Cassem  26.00
208                          Carr, Miss. Helen "Ellen"  16.00
209                                   Blank, Mr. Henry  40.00
210                                     Ali, Mr. Ahmed  24.00
211                         Cameron, Miss. Clear Annie  35.00
212                             Perkin, Mr. John Henry  22.00
213                        Givard, Mr. Hans Kristensen  30.00
214                                Kiernan, Mr. Philip    NaN
215                            Newell, Miss. Madeleine  31.00
216                             Honkanen, Miss. Eliina  27.00
217                       Jacobsohn, Mr. Sidney Samuel  42.00
218                              Bazzani, Miss. Albina  32.00
219                                 Harris, Mr. Walter  30.00
220                     Sunderland, Mr. Victor Francis  16.00
221                               Bracken, Mr. James H  27.00
222                            Green, Mr. George Henry  51.00
223                               Nenkoff, Mr. Christo    NaN
224                       Hoyt, Mr. Frederick Maxfield  38.00
225                       Berglund, Mr. Karl Ivar Sven  22.00
226                          Mellors, Mr. William John  19.00
227                    Lovell, Mr. John Hall ("Henry")  20.50
228                          Fahlstrom, Mr. Arne Jonas  18.00
229                            Lefebre, Miss. Mathilde    NaN
230       Harris, Mrs. Henry Birkhardt (Irene Wallach)  35.00
231                           Larsson, Mr. Bengt Edvin  29.00
232                          Sjostedt, Mr. Ernst Adolf  59.00
233                     Asplund, Miss. Lillian Gertrud   5.00
234                  Leyson, Mr. Robert William Norman  24.00
235                       Harknett, Miss. Alice Phoebe    NaN
236                                  Hold, Mr. Stephen  44.00
237                   Collyer, Miss. Marjorie "Lottie"   8.00
238                    Pengelly, Mr. Frederick William  19.00
239                             Hunt, Mr. George Henry  33.00
240                              Zabour, Miss. Thamine    NaN
241                     Murphy, Miss. Katherine "Kate"    NaN
242                    Coleridge, Mr. Reginald Charles  29.00
243                      Maenpaa, Mr. Matti Alexanteri  22.00
244                               Attalah, Mr. Sleiman  30.00
245                        Minahan, Dr. William Edward  44.00
246              Lindahl, Miss. Agda Thorilda Viktoria  25.00
247                    Hamalainen, Mrs. William (Anna)  24.00
248                      Beckwith, Mr. Richard Leonard  37.00
249                      Carter, Rev. Ernest Courtenay  54.00
250                             Reed, Mr. James George    NaN
251         Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.00
252                          Stead, Mr. William Thomas  62.00
253                           Lobb, Mr. William Arthur  30.00
254           Rosblom, Mrs. Viktor (Helena Wilhelmina)  41.00
255            Touma, Mrs. Darwis (Hanne Youssef Razi)  29.00
256                     Thorne, Mrs. Gertrude Maybelle    NaN
257                               Cherry, Miss. Gladys  30.00
258                                   Ward, Miss. Anna  35.00
259                        Parrish, Mrs. (Lutie Davis)  50.00
260                                  Smith, Mr. Thomas    NaN
261                  Asplund, Master. Edvin Rojj Felix   3.00
262                                  Taussig, Mr. Emil  52.00
263                              Harrison, Mr. William  40.00
264                                 Henry, Miss. Delia    NaN
265                                  Reeves, Mr. David  36.00
266                          Panula, Mr. Ernesti Arvid  16.00
267                           Persson, Mr. Ernst Ulrik  25.00
268      Graham, Mrs. William Thompson (Edith Junkins)  58.00
269                             Bissette, Miss. Amelia  35.00
270                              Cairns, Mr. Alexander    NaN
271                       Tornquist, Mr. William Henry  25.00
272          Mellinger, Mrs. (Elizabeth Anne Maidment)  41.00
273                              Natsch, Mr. Charles H  37.00
274                         Healy, Miss. Hanora "Nora"    NaN
275                  Andrews, Miss. Kornelia Theodosia  63.00
276                  Lindblom, Miss. Augusta Charlotta  45.00
277                        Parkes, Mr. Francis "Frank"    NaN
278                                 Rice, Master. Eric   7.00
279                   Abbott, Mrs. Stanton (Rosa Hunt)  35.00
280                                   Duane, Mr. Frank  65.00
281                   Olsson, Mr. Nils Johan Goransson  28.00
282                          de Pelsmaeker, Mr. Alfons  16.00
283                         Dorking, Mr. Edward Arthur  19.00
284                         Smith, Mr. Richard William    NaN
285                                Stankovic, Mr. Ivan  33.00
286                            de Mulder, Mr. Theodore  30.00
287                               Naidenoff, Mr. Penko  22.00
288                               Hosono, Mr. Masabumi  42.00
289                               Connolly, Miss. Kate  22.00
290                       Barber, Miss. Ellen "Nellie"  26.00
291            Bishop, Mrs. Dickinson H (Helen Walton)  19.00
292                             Levy, Mr. Rene Jacques  36.00
293                                Haas, Miss. Aloisia  24.00
294                                   Mineff, Mr. Ivan  24.00
295                                  Lewy, Mr. Ervin G    NaN
296                                 Hanna, Mr. Mansour  23.50
297                       Allison, Miss. Helen Loraine   2.00
298                              Saalfeld, Mr. Adolphe    NaN
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  50.00
300           Kelly, Miss. Anna Katherine "Annie Kate"    NaN
301                                 McCoy, Mr. Bernard    NaN
302                    Johnson, Mr. William Cahoone Jr  19.00
303                                Keane, Miss. Nora A    NaN
304                  Williams, Mr. Howard Hugh "Harry"    NaN
305                     Allison, Master. Hudson Trevor   0.92
306                            Fleming, Miss. Margaret    NaN
307  Penasco y Castellana, Mrs. Victor de Satode (M...  17.00
308                                Abelson, Mr. Samuel  30.00
309                     Francatelli, Miss. Laura Mabel  30.00
310                     Hays, Miss. Margaret Bechstein  24.00
311                         Ryerson, Miss. Emily Borie  18.00
312              Lahtinen, Mrs. William (Anna Sylfven)  26.00
313                             Hendekovic, Mr. Ignjac  28.00
314                                 Hart, Mr. Benjamin  43.00
315                    Nilsson, Miss. Helmina Josefina  26.00
316                Kantor, Mrs. Sinai (Miriam Sternin)  24.00
317                               Moraweck, Dr. Ernest  54.00
318                           Wick, Miss. Mary Natalie  31.00
319  Spedden, Mrs. Frederic Oakley (Margaretta Corn...  40.00
320                                 Dennis, Mr. Samuel  22.00

In [18]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [21]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.min()

PassengerId                      1
Survived                         0
Pclass                           1
Name           Abbing, Mr. Anthony
Gender                      female
Age                           0.42
SibSp                            0
Parch                            0
Ticket                      110152
Fare                           0.0
dtype: object

In [22]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.median()

PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

In [23]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
titanic_data.max()

PassengerId                            891
Survived                                 1
Pclass                                   3
Name           van Melkebeke, Mr. Philemon
Gender                                male
Age                                   80.0
SibSp                                    8
Parch                                    6
Ticket                           WE/P 5735
Fare                              512.3292
dtype: object

In [25]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
data= titanic_data.loc[titanic_data["Pclass"] ==3]
data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.00,3,0,3101278,15.8500,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.00,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.00,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.00,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.00,0,0,347466,7.8542,NaN,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.00,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.00,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.00,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.00,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.00,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.00,0,0,349207,7.8958,NaN,S
106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.00,0,0,343120,7.6500,NaN,S
107,108,1,3,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.00,0,0,349249,7.8958,NaN,S
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q
111,112,0,3,"Zabour, Miss. Hileni",female,14.50,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.00,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.00,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.00,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.00,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,NaN,Q
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.00,4,2,347082,31.2750,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.00,1,0,2651,11.2417,NaN,C
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.00,0,0,C 17369,7.1417,NaN,S
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,F E69,C
129,130,0,3,"Ekstrom, Mr. Johan",male,45.00,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.00,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.00,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.00,1,0,A/5. 3337,14.5000,NaN,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.00,0,0,7534,9.2167,NaN,S
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.00,0,0,347081,7.7500,NaN,S
142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.00,1,0,STON/O2. 3101279,15.8500,NaN,S
143,144,0,3,"Burke, Mr. Jeremiah",male,19.00,0,0,365222,6.7500,NaN,Q
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.00,0,0,350043,7.7958,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.00,2,2,W./C. 6608,34.3750,NaN,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.50,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.50,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.00,0,0,35851,7.7333,NaN,Q
157,158,0,3,"Corn, Mr. Harry",male,30.00,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.00,0,1,371362,16.1000,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.00,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.00,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.00,0,2,363291,20.5250,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.00,1,4,347088,27.9000,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.00,0,0,1601,56.4958,NaN,S
171,172,0,3,"Rice, Master. Arthur",male,4.00,4,1,382652,29.1250,NaN,Q
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.00,0,0,STON/O 2. 3101280,7.9250,NaN,S
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.00,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.00,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.00,4,2,347077,31.3875,NaN,S
184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.00,0,2,315153,22.0250,NaN,S
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,NaN,Q
188,189,0,3,"Bourke, Mr. John",male,40.00,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.00,0,0,349247,7.8958,NaN,S
192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.00,1,0,350046,7.8542,NaN,S
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.00,0,1,4579,8.4042,NaN,S
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.00,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.00,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.50,0,0,2628,7.2250,NaN,C
204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.00,0,0,A/5 3540,8.0500,NaN,S
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.00,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.00,1,0,3101278,15.8500,NaN,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.00,0,0,2699,18.7875,NaN,C
208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.00,0,0,367231,7.7500,NaN,Q
210,211,0,3,"Ali, Mr. Ahmed",male,24.00,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.00,0,0,A/5 21174,7.2500,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
216,217,1,3,"Honkanen, Miss. Eliina",female,27.00,0,0,STON/O2. 3101283,7.9250,NaN,S
220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.00,0,0,SOTON/OQ 392089,8.0500,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.00,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.00,0,0,PP 4348,9.3500,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.50,0,0,A/5 21173,7.2500,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.00,0,0,347067,7.7750,NaN,S
233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.00,4,2,347077,31.3875,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,NaN,Q
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.00,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.00,0,0,2694,7.2250,NaN,C
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.00,0,0,347071,7.7750,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.00,1,1,347054,10.4625,G6,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.00,1,0,A/5. 3336,16.1000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.00,0,2,370129,20.2125,NaN,S
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.00,0,2,2650,15.2458,NaN,C
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.00,4,2,347077,31.3875,NaN,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.00,4,1,3101295,39.6875,NaN,S
267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.00,1,0,347083,7.7750,NaN,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.00,0,0,LINE,0.0000,NaN,S
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,NaN,Q
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.00,0,0,347073,7.7500,NaN,S
278,279,0,3,"Rice, Master. Eric",male,7.00,4,1,382652,29.1250,NaN,Q
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.00,1,1,C.A. 2673,20.2500,NaN,S
280,281,0,3,"Duane, Mr. Frank",male,65.00,0,0,336439,7.7500,NaN,Q
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.00,0,0,347464,7.8542,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.00,0,0,345778,9.5000,NaN,S
283,284,1,3,"Dorking, Mr. Edward Arthur",male,19.00,0,0,A/5. 10482,8.0500,NaN,S
285,286,0,3,"Stankovic, Mr. Ivan",male,33.00,0,0,349239,8.6625,NaN,C
286,287,1,3,"de Mulder, Mr. Theodore",male,30.00,0,0,345774,9.5000,NaN,S
287,288,0,3,"Naidenoff, Mr. Penko",male,22.00,0,0,349206,7.8958,NaN,S
289,290,1,3,"Connolly, Miss. Kate",female,22.00,0,0,370373,7.7500,NaN,Q
293,294,0,3,"Haas, Miss. Aloisia",female,24.00,0,0,349236,8.8500,NaN,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.00,0,0,349233,7.8958,NaN,S
296,297,0,3,"Hanna, Mr. Mansour",male,23.50,0,0,2693,7.2292,NaN,C
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q
301,302,1,3,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.00,0,0,LINE,0.0000,NaN,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.00,0,0,349243,7.8958,NaN,S
315,316,1,3,"Nilsson, Miss. Helmina Josefina",female,26.00,0,0,347470,7.8542,NaN,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.00,0,0,A/5 21172,7.2500,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.00,0,0,349219,7.8958,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.00,0,0,345364,6.2375,NaN,S
328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.00,1,1,363291,20.5250,NaN,S
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,NaN,Q
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.00,2,0,345764,18.0000,NaN,S
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.00,0,0,7598,8.0500,NaN,S
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,NaN,S
348,349,1,3,"Coutts, Master. William Loch ""William""",male,3.00,1,1,C.A. 37671,15.9000,NaN,S
349,350,0,3,"Dimic, Mr. Jovan",male,42.00,0,0,315088,8.6625,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.00,0,0,7267,9.2250,NaN,S
352,353,0,3,"Elias, Mr. Tannous",male,15.00,1,1,2695,7.2292,NaN,C
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.00,1,0,349237,17.8000,NaN,S
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.00,0,0,345783,9.5000,NaN,S
358,359,1,3,"McGovern, Miss. Mary",female,NaN,0,0,330931,7.8792,NaN,Q
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,0,0,330980,7.8792,NaN,Q
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.00,1,4,347088,27.9000,NaN,S
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.00,0,1,2691,14.4542,NaN,C
363,364,0,3,"Asim, Mr. Adola",male,35.00,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
364,365,0,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.00,0,0,C 7076,7.2500,NaN,S
367,368,1,3,"Moussa, Mrs. (Mantoura Boulos)",female,NaN,0,0,2626,7.2292,NaN,C
368,369,1,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,NaN,Q
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.00,1,0,3101267,6.4958,NaN,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.00,0,0,323951,8.0500,NaN,S
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.00,3,1,349909,21.0750,NaN,S
376,377,1,3,"Landergren, Miss. Aurora Adelia",female,22.00,0,0,C 7077,7.2500,NaN,S
378,379,0,3,"Betros, Mr. Tannous",male,20.00,0,0,2648,4.0125,NaN,C
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.00,0,0,347069,7.7750,NaN,S
381,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.00,0,2,2653,15.7417,NaN,C
382,383,0,3,"Tikkanen, Mr. Juho",male,32.00,0,0,STON/O 2. 3101293,7.9250,NaN,S
384,385,0,3,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.00,0,0,350034,7.7958,NaN,S
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28.00,2,0,3101277,7.9250,NaN,S
394,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.00,0,2,PP 9549,16.7000,G6,S
395,396,0,3,"Johansson, Mr. Erik",male,22.00,0,0,350052,7.7958,NaN,S
396,397,0,3,"Olsson, Miss. Elina",female,31.00,0,0,350407,7.8542,NaN,S
400,401,1,3,"Niskanen, Mr. Juha",male,39.00,0,0,STON/O 2. 3101289,7.9250,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.00,0,0,341826,8.0500,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.00,1,0,4137,9.8250,NaN,S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.00,1,0,STON/O2. 3101279,15.8500,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.00,0,0,315096,8.6625,NaN,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.00,0,0,347064,7.7500,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.00,0,0,312992,7.7750,NaN,S
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S
410,411,0,3,"Sdycoff, Mr. Todor",male,NaN,0,0,349222,7.8958,NaN,S
411,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
414,415,1,3,"Sundman, Mr. Johan Julian",male,44.00,0,0,STON/O 2. 3101269,7.9250,NaN,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.00,0,2,345773,24.1500,NaN,S
420,421,0,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
421,422,0,3,"Charters, Mr. David",male,21.00,0,0,A/5. 13032,7.7333,NaN,Q
422,423,0,3,"Zimmerman, Mr. Leo",male,29.00,0,0,315082,7.8750,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.00,1,1,347080,14.4000,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.00,1,1,370129,20.2125,NaN,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
429,430,1,3,"Pickard, Mr. Berk (Berk Trembisky)",male,32.00,0,0,SOTON/O.Q. 392078,8.0500,E10,S
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.00,0,0,STON/O 2. 3101274,7.1250,NaN,S
436,437,0,3,"Ford, Miss. Doolina Margaret ""Daisy""",female,21.00,2,2,W./C. 6608,34.3750,NaN,S
441,442,0,3,"Hampe, Mr. Leon",male,20.00,0,0,345769,9.5000,NaN,S
442,443,0,3,"Petterson, Mr. Johan Emil",male,25.00,1,0,347076,7.7750,NaN,S
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.00,2,1,2666,19.2583,NaN,C
451,452,0,3,"Hagland, Mr. Ingvald Olai Olsen",male,NaN,1,0,65303,19.9667,NaN,S
454,455,0,3,"Peduzzi, Mr. Joseph",male,NaN,0,0,A/5 2817,8.0500,NaN,S
455,456,1,3,"Jalsevac, Mr. Ivan",male,29.00,0,0,349240,7.8958,NaN,C
459,460,0,3,"O'Connor, Mr. Maurice",male,NaN,0,0,371060,7.7500,NaN,Q
461,462,0,3,"Morley, Mr. William",male,34.00,0,0,364506,8.0500,NaN,S
464,465,0,3,"Maisner, Mr. Simon",male,NaN,0,0,A/S 2816,8.0500,NaN,S
465,466,0,3,"Goncalves, Mr. Manuel Estanslas",male,38.00,0,0,SOTON/O.Q. 3101306,7.0500,NaN,S

In [26]:
import pandas as pd

titanic_data = pd.read_csv('titanic.csv')
data= titanic_data.loc[titanic_data["Survived"] ==0]
data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
57,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
83,84,0,1,"Carrau, Mr. Francisco M",male,28.0,0,0,113059,47.1000,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,NaN,C
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,NaN,C
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C
157,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1000,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.1250,NaN,Q
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.0,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.3875,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
188,189,0,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.4042,NaN,S
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.8500,NaN,S
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.0,1,0,243847,27.0000,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5000,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.0,0,0,PP 4348,9.3500,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.0,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.0,0,0,237442,13.5000,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.0,1,0,26707,26.0000,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.1000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5000,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,3101295,39.6875,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
278,279,0,3,"Rice, Master. Eric",male,7.0,4,1,382652,29.1250,NaN,Q
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
284,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
285,286,0,3,"Stankovic, Mr. Ivan",male,33.0,0,0,349239,8.6625,NaN,C
287,288,0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.8958,NaN,S
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D,C
293,294,0,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.8500,NaN,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,NaN,S
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
296,297,0,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.2292,NaN,C
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,NaN,S
314,315,0,2,"Hart, Mr. Benjamin",male,43.0,1,1,F.C.C. 13529,26.2500,NaN,S
317,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.0000,NaN,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.2500,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
332,333,0,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,C91,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.6000,C2,S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5000,T,S
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.0,0,0,244361,13.0000,NaN,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.0,0,0,229236,13.0000,NaN,S
349,350,0,3,"Dimic, Mr. Jovan",male,42.0,0,0,315088,8.6625,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
352,353,0,3,"Elias, Mr. Tannous",male,15.0,1,1,2695,7.2292,NaN,C
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.0,0,0,345783,9.5000,NaN,S
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.9000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
364,365,0,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.0,0,0,323951,8.0500,NaN,S
373,374,0,1,"Ringhini, Mr. Sante",male,22.0,0,0,PC 17760,135.6333,NaN,C
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.0,3,1,349909,21.0750,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
384,385,0,3,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18.0,0,0,S.O.C. 14879,73.5000,NaN,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.9000,NaN,S
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28.0,2,0,3101277,7.9250,NaN,S
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN,S
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
397,398,0,2,"McKane, Mr. Peter David",male,46.0,0,0,28403,26.0000,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.0,1,0,4137,9.8250,NaN,S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.0,1,0,STON/O2. 3101279,15.8500,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.0,1,0,28664,21.0000,NaN,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.7500,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.7750,NaN,S
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S
410,411,0,3,"Sdycoff, Mr. Todor",male,NaN,0,0,349222,7.8958,NaN,S
411,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S
418,419,0,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S
420,421,0,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
421,422,0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q
422,423,0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.0,1,1,370129,20.2125,NaN,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.1250,NaN,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S

In [27]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv')
data= titanic_data.loc[titanic_data["Survived"] ==0]
data

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
57,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0000,NaN,S
83,84,0,1,"Carrau, Mr. Francisco M",male,28.0,0,0,113059,47.1000,NaN,S
86,87,0,3,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.3750,NaN,S
87,88,0,3,"Slocovski, Mr. Selman Francis",male,NaN,0,0,SOTON/OQ 392086,8.0500,NaN,S
89,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.0500,NaN,S
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,NaN,S
91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.5750,NaN,S
94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.2500,NaN,S
95,96,0,3,"Shorney, Mr. Charles Joseph",male,NaN,0,0,374910,8.0500,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0000,NaN,S
100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,NaN,S
101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S
103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,NaN,S
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,NaN,S
108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,NaN,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S
111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,NaN,C
112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.0500,NaN,S
113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S
114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,NaN,C
115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.9250,NaN,S
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0000,NaN,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S
120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5000,NaN,S
121,122,0,3,"Moore, Mr. Leonard Charles",male,NaN,0,0,A4. 54510,8.0500,NaN,S
122,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,NaN,C
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S
126,127,0,3,"McMahon, Mr. Martin",male,NaN,0,0,370372,7.7500,NaN,Q
129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.9750,NaN,S
130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,NaN,C
131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.0500,NaN,S
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5000,NaN,S
134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,NaN,S
135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,NaN,C
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,NaN,S
139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2000,B86,C
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,NaN,C
143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q
144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5000,NaN,S
145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.7500,NaN,S
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.3750,NaN,S
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0000,F2,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,NaN,S
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C
157,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.0500,NaN,S
158,159,0,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
160,161,0,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1000,NaN,S
162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.7750,NaN,S
163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,NaN,S
164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,NaN,S
167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9000,NaN,S
168,169,0,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S
169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,NaN,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
171,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.1250,NaN,Q
173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.9250,NaN,S
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
175,176,0,3,"Klasen, Mr. Klas Albin",male,18.0,1,1,350404,7.8542,NaN,S
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,NaN,S
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
178,179,0,2,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0000,NaN,S
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,NaN,S
181,182,0,2,"Pernot, Mr. Rene",male,NaN,0,0,SC/PARIS 2131,15.0500,NaN,C
182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.3875,NaN,S
185,186,0,1,"Rood, Mr. Hugh Roscoe",male,NaN,0,0,113767,50.0000,A32,S
188,189,0,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5000,NaN,Q
189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,NaN,S
191,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0000,NaN,S
196,197,0,3,"Mernagh, Mr. Robert",male,NaN,0,0,368703,7.7500,NaN,Q
197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.4042,NaN,S
199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0000,NaN,S
200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.5000,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C
205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S
206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.8500,NaN,S
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S
212,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.2500,NaN,S
213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0000,NaN,S
214,215,0,3,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q
217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.0,1,0,243847,27.0000,NaN,S
219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5000,NaN,S
221,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,NaN,S
222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.0500,NaN,S
223,224,0,3,"Nenkoff, Mr. Christo",male,NaN,0,0,349234,7.8958,NaN,S
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.0,0,0,PP 4348,9.3500,NaN,S
227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S
228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.0,0,0,236171,13.0000,NaN,S
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.7750,NaN,S
232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.0,0,0,237442,13.5000,NaN,S
234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5000,NaN,S
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,NaN,S
236,237,0,2,"Hold, Mr. Stephen",male,44.0,1,0,26707,26.0000,NaN,S
238,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.5000,NaN,S
239,240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.2750,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.5000,NaN,S
243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.1250,NaN,S
244,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.2250,NaN,C
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.7750,NaN,S
249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0000,NaN,S
250,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,NaN,S
251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
253,254,0,3,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.1000,NaN,S
254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,NaN,S
260,261,0,3,"Smith, Mr. Thomas",male,NaN,0,0,384461,7.7500,NaN,Q
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,NaN,Q
265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5000,NaN,S
266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,3101295,39.6875,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
273,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C
276,277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45.0,0,0,347073,7.7500,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0000,NaN,S
278,279,0,3,"Rice, Master. Eric",male,7.0,4,1,382652,29.1250,NaN,Q
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
281,282,0,3,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,NaN,S
282,283,0,3,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,345778,9.5000,NaN,S
284,285,0,1,"Smith, Mr. Richard William",male,NaN,0,0,113056,26.0000,A19,S
285,286,0,3,"Stankovic, Mr. Ivan",male,33.0,0,0,349239,8.6625,NaN,C
287,288,0,3,"Naidenoff, Mr. Penko",male,22.0,0,0,349206,7.8958,NaN,S
292,293,0,2,"Levy, Mr. Rene Jacques",male,36.0,0,0,SC/Paris 2163,12.8750,D,C
293,294,0,3,"Haas, Miss. Aloisia",female,24.0,0,0,349236,8.8500,NaN,S
294,295,0,3,"Mineff, Mr. Ivan",male,24.0,0,0,349233,7.8958,NaN,S
295,296,0,1,"Lewy, Mr. Ervin G",male,NaN,0,0,PC 17612,27.7208,NaN,C
296,297,0,3,"Hanna, Mr. Mansour",male,23.5,0,0,2693,7.2292,NaN,C
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0000,NaN,S
304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,NaN,C
312,313,0,2,"Lahtinen, Mrs. William (Anna Sylfven)",female,26.0,1,1,250651,26.0000,NaN,S
313,314,0,3,"Hendekovic, Mr. Ignjac",male,28.0,0,0,349243,7.8958,NaN,S
314,315,0,2,"Hart, Mr. Benjamin",male,43.0,1,1,F.C.C. 13529,26.2500,NaN,S
317,318,0,2,"Moraweck, Dr. Ernest",male,54.0,0,0,29011,14.0000,NaN,S
320,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.2500,NaN,S
321,322,0,3,"Danoff, Mr. Yoto",male,27.0,0,0,349219,7.8958,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.5500,NaN,S
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S
332,333,0,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,C91,S
333,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S
335,336,0,3,"Denkoff, Mr. Mitto",male,NaN,0,0,349225,7.8958,NaN,S
336,337,0,1,"Pears, Mr. Thomas Clinton",male,29.0,1,0,113776,66.6000,C2,S
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5000,T,S
342,343,0,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
343,344,0,2,"Sedgwick, Mr. Charles Frederick Waddington",male,25.0,0,0,244361,13.0000,NaN,S
344,345,0,2,"Fox, Mr. Stanley Hubert",male,36.0,0,0,229236,13.0000,NaN,S
349,350,0,3,"Dimic, Mr. Jovan",male,42.0,0,0,315088,8.6625,NaN,S
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S
351,352,0,1,"Williams-Lambert, Mr. Fletcher Fellows",male,NaN,0,0,113510,35.0000,C128,S
352,353,0,3,"Elias, Mr. Tannous",male,15.0,1,1,2695,7.2292,NaN,C
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
355,356,0,3,"Vanden Steen, Mr. Leo Peter",male,28.0,0,0,345783,9.5000,NaN,S
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S
360,361,0,3,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.9000,NaN,S
361,362,0,2,"del Carlo, Mr. Sebastiano",male,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C
362,363,0,3,"Barbara, Mrs. (Catherine David)",female,45.0,0,1,2691,14.4542,NaN,C
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.0500,NaN,S
364,365,0,3,"O'Brien, Mr. Thomas",male,NaN,1,0,370365,15.5000,NaN,Q
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,NaN,S
371,372,0,3,"Wiklund, Mr. Jakob Alfred",male,18.0,1,0,3101267,6.4958,NaN,S
372,373,0,3,"Beavan, Mr. William Thomas",male,19.0,0,0,323951,8.0500,NaN,S
373,374,0,1,"Ringhini, Mr. Sante",male,22.0,0,0,PC 17760,135.6333,NaN,C
374,375,0,3,"Palsson, Miss. Stina Viola",female,3.0,3,1,349909,21.0750,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C
378,379,0,3,"Betros, Mr. Tannous",male,20.0,0,0,2648,4.0125,NaN,C
379,380,0,3,"Gustafsson, Mr. Karl Gideon",male,19.0,0,0,347069,7.7750,NaN,S
382,383,0,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S
384,385,0,3,"Plotcharsky, Mr. Vasil",male,NaN,0,0,349227,7.8958,NaN,S
385,386,0,2,"Davies, Mr. Charles Henry",male,18.0,0,0,S.O.C. 14879,73.5000,NaN,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.9000,NaN,S
388,389,0,3,"Sadlier, Mr. Matthew",male,NaN,0,0,367655,7.7292,NaN,Q
392,393,0,3,"Gustafsson, Mr. Johan Birger",male,28.0,2,0,3101277,7.9250,NaN,S
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN,S
396,397,0,3,"Olsson, Miss. Elina",female,31.0,0,0,350407,7.8542,NaN,S
397,398,0,2,"McKane, Mr. Peter David",male,46.0,0,0,28403,26.0000,NaN,S
398,399,0,2,"Pain, Dr. Alfred",male,23.0,0,0,244278,10.5000,NaN,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S
402,403,0,3,"Jussila, Miss. Mari Aina",female,21.0,1,0,4137,9.8250,NaN,S
403,404,0,3,"Hakkarainen, Mr. Pekka Pietari",male,28.0,1,0,STON/O2. 3101279,15.8500,NaN,S
404,405,0,3,"Oreskovic, Miss. Marija",female,20.0,0,0,315096,8.6625,NaN,S
405,406,0,2,"Gale, Mr. Shadrach",male,34.0,1,0,28664,21.0000,NaN,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.0,0,0,347064,7.7500,NaN,S
408,409,0,3,"Birkeland, Mr. Hans Martin Monsen",male,21.0,0,0,312992,7.7750,NaN,S
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,NaN,S
410,411,0,3,"Sdycoff, Mr. Todor",male,NaN,0,0,349222,7.8958,NaN,S
411,412,0,3,"Hart, Mr. Henry",male,NaN,0,0,394140,6.8583,NaN,Q
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,NaN,S
418,419,0,2,"Matthews, Mr. William John",male,30.0,0,0,28228,13.0000,NaN,S
419,420,0,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.1500,NaN,S
420,421,0,3,"Gheorgheff, Mr. Stanio",male,NaN,0,0,349254,7.8958,NaN,C
421,422,0,3,"Charters, Mr. David",male,21.0,0,0,A/5. 13032,7.7333,NaN,Q
422,423,0,3,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.8750,NaN,S
423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",female,28.0,1,1,347080,14.4000,NaN,S
424,425,0,3,"Rosblom, Mr. Viktor Richard",male,18.0,1,1,370129,20.2125,NaN,S
425,426,0,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S
428,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,NaN,Q
433,434,0,3,"Kallio, Mr. Nikolai Erland",male,17.0,0,0,STON/O 2. 3101274,7.1250,NaN,S
434,435,0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S

In [29]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv',usecols=['Name','Age','Survived'])
data= titanic_data.loc[titanic_data["Survived"] ==0]
data

     Survived                                               Name   Age
0           0                            Braund, Mr. Owen Harris  22.0
4           0                           Allen, Mr. William Henry  35.0
5           0                                   Moran, Mr. James   NaN
6           0                            McCarthy, Mr. Timothy J  54.0
7           0                     Palsson, Master. Gosta Leonard   2.0
12          0                     Saundercock, Mr. William Henry  20.0
13          0                        Andersson, Mr. Anders Johan  39.0
14          0               Vestrom, Miss. Hulda Amanda Adolfina  14.0
16          0                               Rice, Master. Eugene   2.0
18          0  Vander Planke, Mrs. Julius (Emelia Maria Vande...  31.0
20          0                               Fynney, Mr. Joseph J  35.0
24          0                      Palsson, Miss. Torborg Danira   8.0
26          0                            Emir, Mr. Farred Chehab   NaN
27          0                     Fortune, Mr. Charles Alexander  19.0
29          0                                Todoroff, Mr. Lalio   NaN
30          0                           Uruchurtu, Don. Manuel E  40.0
33          0                              Wheadon, Mr. Edward H  66.0
34          0                            Meyer, Mr. Edgar Joseph  28.0
35          0                     Holverson, Mr. Alexander Oskar  42.0
37          0                           Cann, Mr. Ernest Charles  21.0
38          0                 Vander Planke, Miss. Augusta Maria  18.0
40          0     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  40.0
41          0  Turpin, Mrs. William John Robert (Dorothy Ann ...  27.0
42          0                                Kraeff, Mr. Theodor   NaN
45          0                           Rogers, Mr. William John   NaN
46          0                                  Lennon, Mr. Denis   NaN
48          0                                Samaan, Mr. Youssef   NaN
49          0      Arnold-Franchi, Mrs. Josef (Josefine Franchi)  18.0
50          0                         Panula, Master. Juha Niilo   7.0
51          0                       Nosworthy, Mr. Richard Cater  21.0
54          0                     Ostby, Mr. Engelhart Cornelius  65.0
57          0                                Novel, Mr. Mansouer  28.5
59          0                 Goodwin, Master. William Frederick  11.0
60          0                              Sirayanian, Mr. Orsen  22.0
62          0                        Harris, Mr. Henry Birkhardt  45.0
63          0                              Skoog, Master. Harald   4.0
64          0                              Stewart, Mr. Albert A   NaN
67          0                           Crease, Mr. Ernest James  19.0
69          0                                  Kink, Mr. Vincenz  26.0
70          0                         Jenkin, Mr. Stephen Curnow  32.0
71          0                         Goodwin, Miss. Lillian Amy  16.0
72          0                               Hood, Mr. Ambrose Jr  21.0
73          0                        Chronopoulos, Mr. Apostolos  26.0
75          0                            Moen, Mr. Sigurd Hansen  25.0
76          0                                  Staneff, Mr. Ivan   NaN
77          0                           Moutal, Mr. Rahamin Haim   NaN
80          0                               Waelens, Mr. Achille  22.0
83          0                            Carrau, Mr. Francisco M  28.0
86          0                             Ford, Mr. William Neal  16.0
87          0                      Slocovski, Mr. Selman Francis   NaN
89          0                             Celotti, Mr. Francesco  24.0
90          0                               Christmann, Mr. Emil  29.0
91          0                         Andreasson, Mr. Paul Edvin  20.0
92          0                        Chaffee, Mr. Herbert Fuller  46.0
93          0                            Dean, Mr. Bertram Frank  26.0
94          0                                  Coxon, Mr. Daniel  59.0
95          0                        Shorney, Mr. Charles Joseph   NaN
96          0                          Goldschmidt, Mr. George B  71.0
99          0                                  Kantor, Mr. Sinai  34.0
100         0                            Petranec, Miss. Matilda  28.0
101         0                   Petroff, Mr. Pastcho ("Pentcho")   NaN
102         0                          White, Mr. Richard Frasar  21.0
103         0                         Johansson, Mr. Gustaf Joel  33.0
104         0                     Gustafsson, Mr. Anders Vilhelm  37.0
105         0                              Mionoff, Mr. Stoytcho  28.0
108         0                                    Rekic, Mr. Tido  38.0
110         0                     Porter, Mr. Walter Chamberlain  47.0
111         0                               Zabour, Miss. Hileni  14.5
112         0                             Barton, Mr. David John  22.0
113         0                            Jussila, Miss. Katriina  20.0
114         0                              Attalah, Miss. Malake  17.0
115         0                              Pekoniemi, Mr. Edvard  21.0
116         0                               Connors, Mr. Patrick  70.5
117         0                    Turpin, Mr. William John Robert  29.0
118         0                           Baxter, Mr. Quigg Edmond  24.0
119         0                  Andersson, Miss. Ellis Anna Maria   2.0
120         0                        Hickman, Mr. Stanley George  21.0
121         0                         Moore, Mr. Leonard Charles   NaN
122         0                               Nasser, Mr. Nicholas  32.5
124         0                        White, Mr. Percival Wayland  54.0
126         0                                McMahon, Mr. Martin   NaN
129         0                                 Ekstrom, Mr. Johan  45.0
130         0                               Drazenoic, Mr. Jozef  33.0
131         0                     Coelho, Mr. Domingos Fernandeo  20.0
132         0     Robins, Mrs. Alexander A (Grace Charity Laury)  47.0
134         0                     Sobey, Mr. Samuel James Hayden  25.0
135         0                                 Richard, Mr. Emile  23.0
137         0                        Futrelle, Mr. Jacques Heath  37.0
138         0                                Osen, Mr. Olaf Elon  16.0
139         0                                 Giglio, Mr. Victor  24.0
140         0                      Boulos, Mrs. Joseph (Sultana)   NaN
143         0                                Burke, Mr. Jeremiah  19.0
144         0                         Andrew, Mr. Edgardo Samuel  18.0
145         0                       Nicholls, Mr. Joseph Charles  19.0
147         0                   Ford, Miss. Robina Maggie "Ruby"   9.0
148         0           Navratil, Mr. Michel ("Louis M Hoffman")  36.5
149         0                  Byles, Rev. Thomas Roussel Davids  42.0
150         0                         Bateman, Rev. Robert James  51.0
152         0                                   Meo, Mr. Alfonzo  55.5
153         0                    van Billiard, Mr. Austin Blyler  40.5
154         0                              Olsen, Mr. Ole Martin   NaN
155         0                        Williams, Mr. Charles Duane  51.0
157         0                                    Corn, Mr. Harry  30.0
158         0                                Smiljanic, Mr. Mile   NaN
159         0                         Sage, Master. Thomas Henry   NaN
160         0                           Cribb, Mr. John Hatfield  44.0
162         0                         Bengtsson, Mr. John Viktor  26.0
163         0                                    Calic, Mr. Jovo  17.0
164         0                       Panula, Master. Eino Viljami   1.0
167         0    Skoog, Mrs. William (Anna Bernhardina Karlsson)  45.0
168         0                                Baumann, Mr. John D   NaN
169         0                                      Ling, Mr. Lee  28.0
170         0                          Van der hoef, Mr. Wyckoff  61.0
171         0                               Rice, Master. Arthur   4.0
173         0                          Sivola, Mr. Antti Wilhelm  21.0
174         0                            Smith, Mr. James Clinch  56.0
175         0                             Klasen, Mr. Klas Albin  18.0
176         0                      Lefebre, Master. Henry Forbes   NaN
177         0                         Isham, Miss. Ann Elizabeth  50.0
178         0                                 Hale, Mr. Reginald  30.0
179         0                                Leonard, Mr. Lionel  36.0
180         0                       Sage, Miss. Constance Gladys   NaN
181         0                                   Pernot, Mr. Rene   NaN
182         0              Asplund, Master. Clarence Gustaf Hugo   9.0
185         0                              Rood, Mr. Hugh Roscoe   NaN
188         0                                   Bourke, Mr. John  40.0
189         0                                Turcin, Mr. Stjepan  36.0
191         0                              Carbines, Mr. William  19.0
196         0                                Mernagh, Mr. Robert   NaN
197         0                   Olsen, Mr. Karl Siegwart Andreas  42.0
199         0             Yrois, Miss. Henriette ("Mrs Harbeck")  24.0
200         0                     Vande Walle, Mr. Nestor Cyriel  28.0
201         0                                Sage, Mr. Frederick   NaN
202         0                         Johanson, Mr. Jakob Alfred  34.0
203         0                               Youseff, Mr. Gerious  45.5
205         0                         Strom, Miss. Telma Matilda   2.0
206         0                         Backstrom, Mr. Karl Alfred  32.0
210         0                                     Ali, Mr. Ahmed  24.0
212         0                             Perkin, Mr. John Henry  22.0
213         0                        Givard, Mr. Hans Kristensen  30.0
214         0                                Kiernan, Mr. Philip   NaN
217         0                       Jacobsohn, Mr. Sidney Samuel  42.0
219         0                                 Harris, Mr. Walter  30.0
221         0                               Bracken, Mr. James H  27.0
222         0                            Green, Mr. George Henry  51.0
223         0                               Nenkoff, Mr. Christo   NaN
225         0                       Berglund, Mr. Karl Ivar Sven  22.0
227         0                    Lovell, Mr. John Hall ("Henry")  20.5
228         0                          Fahlstrom, Mr. Arne Jonas  18.0
229         0                            Lefebre, Miss. Mathilde   NaN
231         0                           Larsson, Mr. Bengt Edvin  29.0
232         0                          Sjostedt, Mr. Ernst Adolf  59.0
234         0                  Leyson, Mr. Robert William Norman  24.0
235         0                       Harknett, Miss. Alice Phoebe   NaN
236         0                                  Hold, Mr. Stephen  44.0
238         0                    Pengelly, Mr. Frederick William  19.0
239         0                             Hunt, Mr. George Henry  33.0
240         0                              Zabour, Miss. Thamine   NaN
242         0                    Coleridge, Mr. Reginald Charles  29.0
243         0                      Maenpaa, Mr. Matti Alexanteri  22.0
244         0                               Attalah, Mr. Sleiman  30.0
245         0                        Minahan, Dr. William Edward  44.0
246         0              Lindahl, Miss. Agda Thorilda Viktoria  25.0
249         0                      Carter, Rev. Ernest Courtenay  54.0
250         0                             Reed, Mr. James George   NaN
251         0         Strom, Mrs. Wilhelm (Elna Matilda Persson)  29.0
252         0                          Stead, Mr. William Thomas  62.0
253         0                           Lobb, Mr. William Arthur  30.0
254         0           Rosblom, Mrs. Viktor (Helena Wilhelmina)  41.0
260         0                                  Smith, Mr. Thomas   NaN
262         0                                  Taussig, Mr. Emil  52.0
263         0                              Harrison, Mr. William  40.0
264         0                                 Henry, Miss. Delia   NaN
265         0                                  Reeves, Mr. David  36.0
266         0                          Panula, Mr. Ernesti Arvid  16.0
270         0                              Cairns, Mr. Alexander   NaN
273         0                              Natsch, Mr. Charles H  37.0
276         0                  Lindblom, Miss. Augusta Charlotta  45.0
277         0                        Parkes, Mr. Francis "Frank"   NaN
278         0                                 Rice, Master. Eric   7.0
280         0                                   Duane, Mr. Frank  65.0
281         0                   Olsson, Mr. Nils Johan Goransson  28.0
282         0                          de Pelsmaeker, Mr. Alfons  16.0
284         0                         Smith, Mr. Richard William   NaN
285         0                                Stankovic, Mr. Ivan  33.0
287         0                               Naidenoff, Mr. Penko  22.0
292         0                             Levy, Mr. Rene Jacques  36.0
293         0                                Haas, Miss. Aloisia  24.0
294         0                                   Mineff, Mr. Ivan  24.0
295         0                                  Lewy, Mr. Ervin G   NaN
296         0                                 Hanna, Mr. Mansour  23.5
297         0                       Allison, Miss. Helen Loraine   2.0
302         0                    Johnson, Mr. William Cahoone Jr  19.0
304         0                  Williams, Mr. Howard Hugh "Harry"   NaN
308         0                                Abelson, Mr. Samuel  30.0
312         0              Lahtinen, Mrs. William (Anna Sylfven)  26.0
313         0                             Hendekovic, Mr. Ignjac  28.0
314         0                                 Hart, Mr. Benjamin  43.0
317         0                               Moraweck, Dr. Ernest  54.0
320         0                                 Dennis, Mr. Samuel  22.0
321         0                                   Danoff, Mr. Yoto  27.0
324         0                           Sage, Mr. George John Jr   NaN
326         0                          Nysveen, Mr. Johan Hansen  61.0
331         0                                Partner, Mr. Austen  45.5
332         0                          Graham, Mr. George Edward  38.0
333         0                    Vander Planke, Mr. Leo Edmondus  16.0
335         0                                 Denkoff, Mr. Mitto   NaN
336         0                          Pears, Mr. Thomas Clinton  29.0
339         0                       Blackwell, Mr. Stephen Weart  45.0
342         0                         Collander, Mr. Erik Gustaf  28.0
343         0         Sedgwick, Mr. Charles Frederick Waddington  25.0
344         0                            Fox, Mr. Stanley Hubert  36.0
349         0                                   Dimic, Mr. Jovan  42.0
350         0                             Odahl, Mr. Nils Martin  23.0
351         0             Williams-Lambert, Mr. Fletcher Fellows   NaN
352         0                                 Elias, Mr. Tannous  15.0
353         0                          Arnold-Franchi, Mr. Josef  25.0
354         0                                  Yousif, Mr. Wazli   NaN
355         0                        Vanden Steen, Mr. Leo Peter  28.0
357         0                          Funk, Miss. Annie Clemmer  38.0
360         0                                 Skoog, Mr. Wilhelm  40.0
361         0                          del Carlo, Mr. Sebastiano  29.0
362         0                    Barbara, Mrs. (Catherine David)  45.0
363         0                                    Asim, Mr. Adola  35.0
364         0                                O'Brien, Mr. Thomas   NaN
365         0                     Adahl, Mr. Mauritz Nils Martin  30.0
371         0                          Wiklund, Mr. Jakob Alfred  18.0
372         0                         Beavan, Mr. William Thomas  19.0
373         0                                Ringhini, Mr. Sante  22.0
374         0                         Palsson, Miss. Stina Viola   3.0
377         0                          Widener, Mr. Harry Elkins  27.0
378         0                                Betros, Mr. Tannous  20.0
379         0                        Gustafsson, Mr. Karl Gideon  19.0
382         0                                 Tikkanen, Mr. Juho  32.0
384         0                             Plotcharsky, Mr. Vasil   NaN
385         0                          Davies, Mr. Charles Henry  18.0
386         0                    Goodwin, Master. Sidney Leonard   1.0
388         0                               Sadlier, Mr. Matthew   NaN
392         0                       Gustafsson, Mr. Johan Birger  28.0
395         0                                Johansson, Mr. Erik  22.0
396         0                                Olsson, Miss. Elina  31.0
397         0                            McKane, Mr. Peter David  46.0
398         0                                   Pain, Dr. Alfred  23.0
401         0                                    Adams, Mr. John  26.0
402         0                           Jussila, Miss. Mari Aina  21.0
403         0                     Hakkarainen, Mr. Pekka Pietari  28.0
404         0                            Oreskovic, Miss. Marija  20.0
405         0                                 Gale, Mr. Shadrach  34.0
406         0                   Widegren, Mr. Carl/Charles Peter  51.0
408         0                  Birkeland, Mr. Hans Martin Monsen  21.0
409         0                                 Lefebre, Miss. Ida   NaN
410         0                                 Sdycoff, Mr. Todor   NaN
411         0                                    Hart, Mr. Henry   NaN
413         0                     Cunningham, Mr. Alfred Fleming   NaN
415         0            Meek, Mrs. Thomas (Annie Louise Rowley)   NaN
418         0                         Matthews, Mr. William John  30.0
419         0                          Van Impe, Miss. Catharina  10.0
420         0                             Gheorgheff, Mr. Stanio   NaN
421         0                                Charters, Mr. David  21.0
422         0                                 Zimmerman, Mr. Leo  29.0
423         0  Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...  28.0
424         0                        Rosblom, Mr. Viktor Richard  18.0
425         0                             Wiseman, Mr. Phillippe   NaN
428         0                                   Flynn, Mr. James   NaN
433         0                         Kallio, Mr. Nikolai Erland  17.0
434         0                          Silvey, Mr. William Baird  50.0
436         0               Ford, Miss. Doolina Margaret "Daisy"  21.0
438         0                                  Fortune, Mr. Mark  64.0
439         0             Kvillner, Mr. Johan Henrik Johannesson  31.0
441         0                                    Hampe, Mr. Leon  20.0
442         0                          Petterson, Mr. Johan Emil  25.0
450         0                              West, Mr. Edwy Arthur  36.0
451         0                    Hagland, Mr. Ingvald Olai Olsen   NaN
452         0                    Foreman, Mr. Benjamin Laventall  30.0
454         0                                Peduzzi, Mr. Joseph   NaN
456         0                          Millet, Mr. Francis Davis  65.0
459         0                              O'Connor, Mr. Maurice   NaN
461         0                                Morley, Mr. William  34.0
462         0                                  Gee, Mr. Arthur H  47.0
463         0                       Milling, Mr. Jacob Christian  48.0

In [30]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv',usecols=['Name','Age','Survived'])
data= titanic_data.loc[titanic_data["Survived"] ==0]
print(len(data))

549

In [33]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv',index_col="Name")
data= titanic_data.loc[['Heikkinen, Miss. Laina','Andersson, Mr. Anders Johan']]
data

,PassengerId,Survived,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.275,NaN,S

In [34]:
import pandas as pd

pd.set_option('display.max_rows',None)
titanic_data = pd.read_csv('titanic.csv',usecols=['Name','Age','Survived','Pclass'])
data= titanic_data.loc[(titanic_data["Pclass"] ==3) & (titanic_data["Age"]>55)]
data

     Survived  Pclass                       Name   Age
94          0       3          Coxon, Mr. Daniel  59.0
116         0       3       Connors, Mr. Patrick  70.5
152         0       3           Meo, Mr. Alfonzo  55.5
280         0       3           Duane, Mr. Frank  65.0
326         0       3  Nysveen, Mr. Johan Hansen  61.0
483         1       3     Turkula, Mrs. (Hedwig)  63.0
851         0       3        Svensson, Mr. Johan  74.0